.w-100{
    width: 100%;
}

.d-flex{
    display: flex;
}

.d-align-items-center{
    align-items: center;
}

.d-justify-content-center{
    justify-content: center;
}

.d-flex-dir-row-reverse{
    flex-direction: row-reverse !important;
}